:root{
    --color-fuente: #ffffff;
    --color-fondo: rgb(45,50,95);
    --color-sombras: #1f2343;
    --icono-menu: url("../img/menu.svg");
    --icono-cruz: url("../img/cruz.svg");
    --transform-menu-show: translate(-100%);
}
/* RESETEO DE CSS */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* ESTILOS PRINCIPALES */

body{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    color: var(--color-fuente);
    background-color: var(--color-fuente);
}
h2{
    font-size: 2rem;
}
h1{
    font-size: 1.5rem;
}
/* INICIO */
.inicio{
    display: flex;
    position: relative;
    height: 100vh;
    background-image: url("../img/fondo.webp");
    background-size: cover;
    background-repeat: no-repeat;
    z-index: 10;
}

.inicio_overlay{
    background-color: rgba(45, 50, 95, 0.6);
    position: absolute;
    z-index: 30;
    height: 100vh;
    width: 100%;
}

.inicio_bienvenida{
    display: flex;
    place-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    margin: auto;
    z-index: 40;
    gap: 20px;
}

.inicio_imagen{
    position: relative;
    min-width: 300px;
    max-width: 50%;
    border-radius: 50%;
    border: 5px solid var(--color-fuente);
    z-index: 40;
    box-shadow: 5px 5px 5px var(--color-sombras);
}

.inicio_bienvenida p{
    margin:0 40px 0 40px; 
}
.inicio_bienvenida a{
    margin-top: 50px;
}

/* BARRA DE NAVEGACIÓN */
.nav{
    display: flex;
    flex-direction: row;
    place-content: center;
    position: sticky;
    top: 0;
    background-color: var(--color-fondo);
    z-index: 1000;
}

.contenedor_nav{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 10px;
}

.contenedor_nav, .icono_menu{
    z-index: 20;
}

.lista_nav{
    position: fixed;
    display: grid;
    place-content: center;
    text-align: center;
    inset: 0;
    list-style: none;
    background-color: var(--color-fondo);
    transform: translate(-100%);
    transition: .5s transform;
    z-index: 1;
    gap: 50px;
}

.lista_link {
    color: var(--color-fuente);
    text-decoration: none;
}

.icono_menu{
    width: 48px;
    height: 48px;
    margin: 10px 15px 10px 15px;
    background-image: var(--icono-menu);
    background-size: cover;
    cursor: pointer;
    transition: background-image .5s;
}

.logo_nav{
    width: 48px;
    height: 48px;
    margin: 10px 15px 10px 15px;
}

.lista_nav.open {
    transform: translateX(0);
}

.input--checkbox{
        display: none;
        height: 40px;
        width: 40px;
}

#icono_menu.cruz {
    background-image: var(--icono-cruz);
}

#icono_menu.menu {
    background-color: var(--icono-menu);
}

.link-icon{
    width: 48px;
    height: auto;
}

 /* SECCION */
.seccion{
    display: flex;
    place-content: center;
    flex-direction: column;
    text-align: center;
    color: var(--color-fondo);
    gap: 50px;
}
/* SOBRE MI */
.seccion_sobremi{
    display: flex;
    flex-direction: column;
    gap: 50px;
    margin-top: 50px;
    font-size: 1.25rem;
    height: 100vh;
}

.seccion_sobremi p{
    margin: 0 40px 0 40px;
}

.sobremi_cv{
    margin-top: 40px;
    cursor: pointer;
}
.cv_descarga{
    border: 2px solid var(--color-fondo);
    padding: 10px 20px 10px 20px;
    border-radius: 10px;
}

.cv_descarga a {
    text-decoration: none;
}

.cv_descarga:hover{
    background-color: var(--color-fondo);
    
}
.cv_descarga:hover a{
    color: var(--color-fuente);
}
.link_cv:visited{
    color: var(--color-fondo);
}


/* HABILIDADES */
.seccion_habilidades{
    display: flex;
    flex-direction: column;
    place-content: center;
    gap: 50px;
    height: 100vh;
}
.habilidades_lenguajes{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 165px));
    place-content: center;
    gap: 20px;
    padding: 10px;
}
.lenguajes{
    border: 2px solid var(--color-fondo);
    box-shadow: 5px 5px 10px rgba(45, 50, 95, 0.2);
    border-radius: 10px;
    padding-bottom: 10px;
}

.lenguaje_logo{
    width: 100px;
    height: auto;
    margin: 10px 0 10px 0;
}

/* PROYECTOS */
.seccion_proyectos {
    display: flex;
    flex-direction: column;
    place-content: center;
    gap: 50px;
    height: 100vh;
}

.contenedor_proyectos{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 350px));
    gap: 20px;
    padding: 20px;
    place-content: center;
}

.proyecto{
    position: relative;
    width: 350px;
    height: 400px;
    border: 2px solid var(--color-fondo);
    border-radius: 15px;
    overflow: hidden;
    color: var(--color-fuente);
    letter-spacing: 1px;
    box-shadow: 5px 5px 10px rgba(45, 50, 95, 0.2);
}

.proyecto-front, 
.proyecto-back {
    display: flex;
    flex-direction: column;
    place-content: center;
    align-items: center;
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    transition: .6s;
    
}

.proyecto-back{
    gap: 20px;
}

.proyecto img {
    width: 350px;
    height: 400px;
    object-fit: cover;
}

.proyecto-front h3 {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 50px;
    line-height: 50px;
    background-color: rgba(0, 0, 0, 0.3);
    text-align: center;
}

.info-proyecto {
    display: flex;
    position: relative;
    flex-direction: column;
    place-content: center;
    bottom: -25px;
    gap: 20px;
}
.proyecto-back h3{
    margin: 20px 0 20px 0;
    font-size: 1.5em;
}

.proyecto-back p{
    margin: 0 20px 0 20px;
}

.proyecto-front{
    transform: perspective(500px) rotateY(0deg);
}

.proyecto-back{
    transform: perspective(500px) rotateY(180deg);
    background-color: var(--color-fondo);
}

.proyecto:hover .proyecto-front {
    transform: perspective(500px) rotateY(180deg);
}


.proyecto:hover .proyecto-back {
    transform: perspective(500px) rotateY(360deg);
}

.tecnologias{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.tecnologias h4{
    margin: 0 5px 0 5px;
    padding: 5px;
    border: 1px solid var(--color-fuente);
    border-radius: 5px;
}

.portafolio img {
    width: 48px;
    height: auto;
}

/* CONTACTO */
.seccion_contacto{
    display: flex;
    flex-direction: column;
    place-content: center;
    gap: 50px;
}

.contenedor_formulario{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 350px));
    gap: 20px;
    padding: 20px;
    place-content: center;
}

.formulario {
    display: flex;
    flex-direction: column;
    place-content: center;
    gap: 10px;
    padding: 40px 20px 20px 20px;
    border: 2px solid var(--color-fondo);
    border-radius: 10px;
    box-shadow: 5px 5px 10px rgba(45, 50, 95, 0.2);
}

.formulario_input {
    width: 100%;
    height: 35px;
    border: none;
    border-left: 5px solid var(--color-fondo);
    background-color: rgb(45, 50, 95, 0.1);
}

.input--textarea{
    height: 200px;
    resize: none;
}
.input--boton {
    background-color: var(--color-fondo);
    color: var(--color-fuente);
}

/* FOOTER */
.footer{
    display: flex;
    place-content: center;
    padding: 10px;
    background-color: var(--color-fondo);
    color: var(--color-fuente);
}


/* MEDIA QUERIES */
@media (min-width : 1024px) {
    .seccion {
        margin: 0 200px;
    }
    
    .seccion_habilidades{
        margin: 0 200px;
    }
    
    .contenedor_proyectos{
        gap: 50px;
    }
    
    .lenguajes:hover {
        transition: all 300ms;
        transform:scale(1.15);
    }
    
    .proyecto:hover {
        transition: all 300ms;
        transform:scale(1.15);
    }
    
    .lista_item{
        place-content: center;
    }
    
    .lista_nav {
        position: static;
        display: flex; 
        flex-direction: row; 
        justify-content: center;
        gap: 35px; 
        transform: none;
        background-color: transparent; 
        margin-right: 50px;
        font-size: 1.15em;
    }

    .icono_menu {
        display: none;
    }
    
}